<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huzhi.module.module/carTag.mybatis/mapper.CarTagMapper">

    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="id"
            parameterType="com.huzhi.module.module/carTag.entity.CarTag">
        insert into car_tag(
        <if test="CarTag.name != null and CarTag.name != ''">name,</if>
        <if test="CarTag.createTime != null and CarTag.createTime != ''">createTime,</if>
        <if test="CarTag.updateTime != null and CarTag.updateTime != ''">updateTime,</if>
        <if test="CarTag.isDeleted != null and CarTag.isDeleted != ''">isDeleted</if>
        )values(
        <if test="CarTag.name != null and CarTag.name != ''">#{CarTag.name},</if>
        <if test="CarTag.createTime != null and CarTag.createTime != ''">#{CarTag.createTime},</if>
        <if test="CarTag.updateTime != null and CarTag.updateTime != ''">#{CarTag.updateTime},</if>
        <if test="CarTag.isDeleted != null and CarTag.isDeleted != ''">#{CarTag.isDeleted}</if>
        )
    </insert>

    <update id="update"
            parameterType="com.huzhi.module.module/carTag.entity.CarTag">
        update car_tag
        set id = #{CarTag.id}
                <if test="CarTag.name != null and CarTag.name != ''"> , name = #{CarTag.name}</if>
                <if test="CarTag.createTime != null and CarTag.createTime != ''"> , createTime = #{CarTag.createTime}</if>
                <if test="CarTag.updateTime != null and CarTag.updateTime != ''"> , updateTime = #{CarTag.updateTime}</if>
                <if test="CarTag.isDeleted != null and CarTag.isDeleted != ''"> , isDeleted = #{CarTag.isDeleted}</if>
        where id = #{CarTag.id}
    </update>



</mapper>

